<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Sign Language Recognition</title>
    <!-- custom css -->
    <link rel="stylesheet" href="./static/index.css">
    <link rel="icon" type="image/x-icon" href="./static/fav.png">
  </head>
  <body>
      <div class="btn-container">
        <a href="/character" class="btn btn-primary">Interpret Character</a>
        <a href="/word" class="btn btn-secondary">Interpret Words</a>
      </div>
    </div>
    <!-- Add Bootstrap JS scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pzjw8+JY1EY4XYk6P5vqZu+rl7p8+XKyo2Mlgqkmf4dPvuFEKKAlF2TG1Q7j2q0k"
      crossorigin="anonymous"></script>
  </body>
</html>



